body {
    margin: 0 auto;
    width: 1200px;
}

.container {
    display: flex;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    font-size: 20px;
}

.main-ul {
    list-style: none;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.main-h2 {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

/* 
.header-container {
    display: flex;
    text-decoration: none;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}

.nav-link {
    color: aqua;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgba(255, 102, 0, 0.849);
}

.logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(110, 214, 255);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
}

.start-main-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    border-top: 1px solid #ccc;
}

footer input::placeholder {
    color: #bbb;
    font-style: italic;
}

footer button:hover {
    opacity: 0.85;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 201, 201);
}