body {
    margin: 0 auto;
    width: 1200px;
}

.container {
    display: flex;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    font-size: 20px;
}

.start-main-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    padding: 0;
}

.main-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.main-li {
    width: calc(33.333% - 27px);
    display: flex;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.main-h2 {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    border-bottom: 4px solid #F38181;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}

.nav-link {
    color: aqua;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #F38181;
    border-bottom: 3px solid #F38181;
}

.logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(110, 214, 255);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
}

.start-main-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: "Montserrat", sans-serif;
}

.start-main-container h3 {
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
}

p {
    color: #B6B6B6;
}

.main-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    border-top: 1px solid #ccc;
    font-family: "Montserrat", sans-serif;
}

footer input::placeholder {
    color: #999090;
    font-style: italic;
}

footer button:hover {
    opacity: 0.85;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 201, 201);
}

.btn {
    margin: 0;
    padding: 0;
    border: 0;
}

.input {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
}